# ไฟล์ความลับ (ห้ามหลุดเด็ดขาด)
credentials.json
client_secret.json
*.pem
.env

# ไฟล์ขยะของ Python
__pycache__/
*.pyc

# ไฟล์ขยะของ Node.js (React)
node_modules/
dist/
.DS_Store

# ไฟล์ขยะของ PlatformIO
.pio/
.vscode/
smartfarm-480902-eaa6782ca14f.json
smartfarm-480902-eaa6782ca14f.json
smartfarm-480902-de5d514a936c.json
MyWeb/credentials.json
